.navbar{
    box-sizing: border-box;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    background: #1A0B2E;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px 16px 200px;
}
nav{
    display: flex;
    gap: 32px;
}
nav a{
    color: #FFFFFF;
    font-family: Inter;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    text-decoration: none;
}
.login button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #FFFFFF;
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    border-radius: 10000px;
    width: 135px;
    height: 44px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}


.panel{
    background-image: url(./assets/hero-bg.png);
    height: 627px;
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.panel-img {
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel-title h2{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: Extra Bold;
    font-size: 60px;
    font-weight: 800;
    line-height: 0px;
    letter-spacing: 6px;
    text-align: center;
    text-transform: capitalize;
}
.panel-title p{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    
}
.tkl{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}
.panel-button{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
}
.panel-button .first{
    border-radius: 10000px;
    width: 201px;
    height: 45px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}

.panel-button .second{
    box-sizing: border-box;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    width: 147px;
    height: 45px;
    background: transparent;
    color: #00FF88;
}


.about-main{
    height: 646px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 80;
    padding: 50px 200px 120px 200px;
    background: rgba(26, 11, 46, 1);
}
.text-center{
    text-align: center;
}
.about .title h2{
    color: #FFFFFF;
    font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.about .title p{
   color: #FFFFFF;
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}

.parent-list{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.child h1{
    color: #00FF88;
    font-family: Inter;
    font-style: Black;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.child p{
    color: #FFFFFF;
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}