.navbar{
    box-sizing: border-box;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    background: #1A0B2E;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px 16px 200px;
}
nav{
    display: flex;
    gap: 32px;
}
nav a{
    color: #FFFFFF;
    font-family: Inter;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    text-decoration: none;
}
.login button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #FFFFFF;
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    border-radius: 10000px;
    width: 135px;
    height: 44px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}

.logo img{
    width: 219px;
    height: 32px;
}
.panel{
    background-image: url(./assets/hero-bg.png);
    height: 627px;
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.panel-img {
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.panel-img .badge{
    color: #1A0B2E;
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    border-radius: 1000px;
    padding: 8px 16px 8px 16px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    background: #00FF88;
    position: absolute;
    top: 0;
    right: 30px;
}
.panel-title h2{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: Extra Bold;
    font-size: 60px;
    font-weight: 800;
    line-height: 0px;
    letter-spacing: 6px;
    text-align: center;
    text-transform: capitalize;
}
.panel-title p{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    
}
.tkl{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}
.panel-button{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
}
.panel-button .first{
    border-radius: 10000px;
    width: 201px;
    height: 45px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}

.panel-button .second{
    box-sizing: border-box;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    width: 147px;
    height: 45px;
    background: transparent;
    color: #00FF88;
}


.about-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 80;
    padding: 50px 200px 120px 200px;
    background: rgba(26, 11, 46, 1);
}
.text-center{
    text-align: center;
}
.about .title h2{
    color: #FFFFFF;
    font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.about .title p{
   color: #FFFFFF;
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}

.parent-list{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.child h1{
    color: #00FF88;
    font-family: Inter;
    font-style: Black;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.child p{
    color: #FFFFFF;
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
/* grid  */
.why-techwave{
    background-color: #1A0B2E;
    padding: 120px 200px 120px 200px;
    /* padding: 20px; */
}
.why-techwave .title{
   color: #FFFFFF;
    font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.box-parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;
}


/* .first-row{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
} */
.text{
    width: 1200px;
    height: 659px;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    text-transform: capitalize;
}    

   
    
.box{
    background: rgba(53, 17, 101, 0.4);
    border-radius: 20px;
    padding: 24px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 20px 40px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box h2{
    color: #FFFFFF;
    font-family: Inter;
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    text-transform: capitalize;

}
.box p{
    color: #FFFFFF;
    opacity: 0.6;
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}


.box img{
    width: 60px;
}

.box1 {
    grid-column: span 1;
    grid-row: span 2;
}

.box2 {
    grid-column: span 2;
    height: 225px;
}

.box3 {
    grid-column: span 2;
    height: 225px;
}

.box4 {
    grid-column: span 2;
    
}

.box5 {
    grid-column: span 1; 
}


.features{
    background: rgba(26, 11, 46, 1);
    padding: 120px 200px 120px 200px;
}

.features h2{
    color: #FFFFFF;
    font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

.features-parent {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.features-child{
    overflow: hidden;
    border-radius: 0px 0px 24px 24px;
    background: rgba(37, 13, 68, 1);
}
.features-child .video{
    width: 380px;
}
.features-child h2{
    color: #FFFFFF;
    font-family: Inter;
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
.features-child p{
    color: #FFFFFF;
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
     opacity: 0.6;
}

.features-child span{
    color: #00FF88;
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.features-child .details{
    padding: 24px;
}

.features .host{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    gap: 24px;
}
.host h2{
    color: #FFFFFF;
    font-family: Inter;
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}
.host p{
    color: #FFFFFF;
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6;
}
.host-text span{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 27px;
    padding: 18px;
    border: 1px solid rgba(83, 60, 114, 1);
}

.footer{
    background-image: url(./assets/footer-bg.png);
    height: 412px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.foot-logo img{
    height: 42px;
}
.footer .copy{
    color: rgba(250, 250, 250, 1);
    opacity: 0.6;
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.social{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social span{
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 11px;
}